<div class="container">
  <div class="row">
    <div class="col-8">
      <div class="addEvent">
        <button type="button" class="btn btn-lg btn-primary" (click) = "openModal()"  >  + AddEvent</button>
      </div>
    </div>
    <div class="col-4 view">
        <div class="card" style="width: 30rem;">
            <ul class="list-group list-group-flush" *ngFor = "let day of days; index as i" >
              <div class="event"  *ngFor = "let event of getEvents" >
                <li class="list-group-item timeline_{{i}}" [ngStyle]="{'background-color':event.hour === i ? 'green' : '',
                    'height': event.hour === i ?'100px':''}" (click) = "openModal()">Cras justo odio {{day}}</li>
              </div>
            </ul>
        </div> 
    </div>
  </div>
</div>
 